
h1{
    font-size:70px;
    color:white;
}
p{
    color:red;
}
.centered {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .centeredx {
    background-color:white;
    opacity: 0.8;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 1050px;
    margin: 0 auto;
    margin-top: 15%;
    padding-top: 50px;
    font-size:2em;
  }
  /* form{
    font-size:2em;
  } */
  input{
    width:75px;
  }
  
  
